version: '3.9'

services:
  db:
    image: postgres:16-alpine3.18
    container_name: db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./config/.env.db
    restart: always
    ports:
      - "5433:5432"
    networks:
      sql_net:
        ipv4_address: 180.18.1.2

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=db@db.com
      - PGADMIN_DEFAULT_PASSWORD=dbdb
    ports:
      - "5050:80"
    depends_on:
      - db
    restart: always
    networks:
      sql_net:
        ipv4_address: 180.18.1.3

volumes:
  postgres_data:

networks:
  sql_net:
    driver: bridge
    ipam:
      config:
        - subnet: 180.18.1.0/24